/* You can add global styles to this file, and also import other style files */

:root {
    --color1: #EEEEEE;
    --color2: #222831;
    --color3: #393E46;
    --color4: #00ADB5;
    --fade: #C84B31;
    
}

body {
    background-color: var(--color1);
}